.env
application-local.properties
application-test.properties
application-prod.properties
application-dev.properties
*.tmp


target/
.mvn/
!.mvn/wrapper/maven-wrapper.jar 
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


*.iml
.idea/
out/

*.classpath
*.project
*.settings/

.vscode/


*.log
.DS_Store
Thumbs.db